services:
  db:
    image: postgres:16
    container_name: ProjetAirport
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Postgres
      POSTGRES_DB: DBAirportManager
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres-data:
